#wrapper {
	margin: auto;
	padding-left: 50px;
	width: 500px;
}

#board {
	float: left;
}

#grid {
	border-collapse: collapse;
	border: 1px solid gray;
}

#grid td, #grid th {
	padding: 0px;
	border: 0px;
}

#controls {
	padding: 5px;
}

#palette {
	float: left;
	padding: 5px;
}

.palette-colour {
	display: block;
	border: 1px solid #333333;
	width: 40px;
	height: 40px;
	margin-top: 5px;
}
